<%- include("../Componen/header") %>
<%- include("../Componen/sidebar") %>


    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4>Data Jadwal</h4>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="tittle bg bg-dark shadow" style = "display: flex; justify-content: center; width: 150px; height: 90%; border-radius: 10px;">
                                <h4 class="title-class ">Kelas <%= rows.nama_kelas %></h4> 
                            </div><hr>
                            <ul class="nav nav-pills mt-3">
                                <li class="nav-item">
                                  <a class="nav-link pilih-hari" data-hari = "senin" href="#">SENIN</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link pilih-hari" data-hari = "selasa" href="#">SELASA</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link pilih-hari" data-hari = "rabu" href="#">RABU</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link pilih-hari" data-hari = "kamis" href="#">KAMIS</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link pilih-hari" data-hari = "jumat" href="#">JUMAT</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link pilih-hari" data-hari = "sabtu" href="#">SABTU</a>
                                </li>
                               
                              </ul>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                <div class="body">
                                    <!-- Konten tabel akan dimuat di sini -->
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="modal fade" id="modal-tambah">
        <div class="modal-dialog modal-l">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Form izin</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/siswa/insert_izin"  method="POST">
                        <input type="hidden" name="id_guru">
                        <input type="hidden" name="id_siswa" value="<%= rows.id_siswa %>">
                        <input type="hidden" name="tanggal">
                        <div class="form-group">
                            <label for="jenis">Jenis</label>
                            <select name="jenis" class="form-control" required>
                                <option value="izin">Izin</option>
                                <option value="sakit">Sakit</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="keterangan">Keterangan</label>
                            <textarea name="keterangan" class="form-control" required></textarea>
                        </div>
                    
                    
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <div>
                        <button type="submit" id="izinData" class="btn btn-primary">
                            Simpan
                        </button>
                    </form>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <!-- Skrip dari AdminLTE dan Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>
    
    <script>
        $(document).ready(function(){
           
            const success = "<%= messages.success %>"
                if(success){
                Swal.fire({
					  title: "Berhasil",
					  text: "<%= messages.success %>",
					  icon: "success",
            //position: "top-end",
            showConfirmButton: false,
            timer: 1500
					});
        }
            const hariUrl = localStorage.getItem('hariTerakhir') || 'senin';
            list(hariUrl);

            $(`.pilih-hari[data-hari="${hariUrl}"]`).addClass('active');
            
            $('.pilih-hari').on('click', function(e){
                e.preventDefault();

                const hari = $(this).data('hari')
                localStorage.setItem('hariTerakhir', hari)

                list(hari);

                $('.pilih-hari').removeClass('active')
                $(this).addClass('active')
            });
            });
        function izin(){
            let formData = {
               // id_siswa : $("[name = 'id_siswa']").val(),
                id_guru : $("[name = 'id_guru']").val()
            };
            const id_guru = $("[name = 'id_guru']").val()
            $.ajax({
                url : '/siswa/insert_izin',
                type : 'POST',
                data : {id_guru : id_guru},
                success : function(response){
                    if(response){
                        Swal.fire({
                        title: "Berhasil",
                        text: response.message,
                        icon: "success",
                        timer: 2000,
                        showConfirmButton: false,
                    }).then(() => {
                        list();
                    });
                    }
                }
            })
        }
        
        function list(hari) {
            let html = "";
            $.ajax({
                url: "/siswa/data_jadwal",
                type: "GET",
                data : {hari : hari},
                success: function(result) {
                    const val = result.data;
                    if (result.count > 0) {
                        html += "<table class='table table-bordered table-striped table-hover'>";
                        html += "<thead class='bg-dark'>";
                        html += "<tr>"
                        html += "<th style = 'width : 1% ;'>No</th>";
                        html += "<th>Hari</th>";
                        html += "<th>Nama Guru</th>";
                        html += "<th>Kelas Ajar</th>";
                        html += "<th>Pelajaran</th>";
                        html += "<th>Jam Mulai</th>";
                        html += "<th>Action</th>";
                        html += "</tr>";
                        html += "</thead><tbody>";
                        $.each(val, function(index, row) {
                            var jamJadwal = `${row.jam_mulai.slice(0, 5)} - ${row.jam_selesai.slice(0, 5)}`
                            html += `<tr id='data' kode='${row.idj}'>`;
                            html += `<td> ${index + 1} </td>`
                            html += `<td>${row.hari}</td>`;
                            html += `<td>${row.nama_guru}</td>`;
                            html += `<td>${row.nama_kelas}</td>`;
                            html += `<td>${row.nama_mp}</td>`;
                            html += `<td><label class='label bg-success' style="border-radius: 6px; width: 100px; text-align: center;" > ${row.jam_mulai.slice(0, 5)} </label> - <label class='label bg-danger' style="border-radius: 6px; width: 100px; text-align: center;" >${row.jam_selesai.slice(0, 5)}</label></td></td>`;
                            html += `<td><button class = 'btn btn-primary' id='btn-izin' data-idguru = '${row.id_guru}'>Izin</button></td>`;
                            html += "</tr>";
                        });
                        html += "</tbody></table>";
                    } else {
                        html = "<p>No data available</p>";
                    }
                    $(".body").html(html);
                },
                error: function(xhr, status, error) {
                    console.error("AJAX Error:", status, error);
                    $(".body").html("<p>Error loading data</p>");
                }
            });
        }
       
        $(document).on('click','#btn-izin', function(){
            $("#modal-tambah").modal("show")
            const tanggal = new Date().toISOString().split('T')[0];
            const id_guru = $(this).data('idguru');
            $("[name = 'id_guru']").val(id_guru);
            $("[name = 'tanggal']").val(tanggal)
           // alert(id_guru)
        })
    </script>
</body>
</html>
