<%- include("../../Componen/header") %>
<title>Admin | Create Kelas</title>
<%- include("../../Componen/sideNavbar") %>
<div class="content-wrapper d-flex justify-content-center align-items-start" style="min-height: 100vh; padding-top: 50px;">
    <!-- Display flash messages -->
   
    <!-- Card for adding class -->
    <div class="card w-50 shadow">
        <div class="card-header">
            <h2 class="card-title">Tambahkan Kelas</h2>
        </div>
        <div class="card-body">
            <% if (messages.success) { %>
                <script>
                Swal.fire({
                    icon: 'success',
                    title: 'Berhasil',
                    text: '<%= messages.success %>',
                });
            </script>
            <% } %>
        
            <% if (messages.error) { %>
                <script>
                Swal.fire({
                    icon: 'error',
                    title: 'Gagal',
                    text: '<%= messages.error %>',
                });
            </script>
            <% } %>
            <form action="/admin/insert_kelas" method="post">
                <label for="Kelas">Nama Kelas</label>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" name="nama_kelas" placeholder="Masukkan nama kelas" required>
                </div>
                <button type="submit" class="btn btn-primary">Tambahkan Data</button>
            </form>
        </div>
    </div>
</div>
<%- include("../../Componen/footer") %>
