<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link bg-danger">
    <div class="text-center fw-bold">
      Admin Page
  </div>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-2 pb-3 mb-2 d-flex align-items-center">
      <div class="image">
        <img src="" style="width: 50px; height: 50px; object-fit: cover;" class="img-circle elevation-2" id="image-fp" alt="User Image">
      </div>
      <div class="info ms-2">
        <a href="#" style="font-size: 20px;" class="d-block text-start" id="nama_user">Nama User</a>
      </div>
    </div>
    
    
    

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Dashboard Link -->
        <li class="nav-item">
          <a href="/admin" class="nav-link <%= currentPath === '/admin' ? 'active' : '' %>">
            <i class="nav-icon  fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/sekolah" class="nav-link <%= currentPath === '/admin/sekolah' ? 'active' : '' %>">
            <i class="nav-icon fas fa-school"></i>
            <p>Sekolah</p>
          </a>
        </li>
        <!-- User Section -->
        <li class="nav-item  <%=(currentPath === '/admin/data_user' || currentPath === '/admin/user') ? 'menu-open' : ''%>">
          <a href="#" class="nav-link  <%=(currentPath === '/admin/data_user' || currentPath === '/admin/user' || currentPath === '/admin/edit_user') ? 'active' : ''%>">
            <i class="nav-icon fas fa-user"></i>
            <p>
              User
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/data_user" class="nav-link <%= currentPath === '/admin/data_user' ? 'active' : '' %>">
                <i class="far fa-circle nav-icon"></i>
                <p>Data User</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/user" class="nav-link <%= currentPath === '/admin/user' ? 'active' : '' %>">
                <i class="far fa-circle nav-icon"></i>
                <p>Insert User</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Siswa Section -->
        <li class="nav-item  <%=(currentPath === '/admin/data_siswa' || currentPath === '/admin/siswa') ? 'menu-open' : ''%>">
          <a href="#" class="nav-link  <%=(currentPath === '/admin/data_siswa' || currentPath === '/admin/siswa' || currentPath === '/admin/siswa/edit/:id_siswa') ? 'active' : ''%>">
            <i class="nav-icon fas fa-user"></i>
            <p>
              Siswa
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/data_siswa" class="nav-link <%= currentPath === '/admin/data_siswa' ? 'active' : '' %>">
                <i class="far fa-circle nav-icon"></i>
                <p>Data Siswa</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/siswa" class="nav-link <%= currentPath === '/admin/siswa' ? 'active' : '' %>">
                <i class="far fa-circle nav-icon"></i>
                <p>Insert Siswa</p>
              </a>
            </li>
          </ul>
        </li>
        <!-- Riwayat Section -->
        <li class="nav-item <%=(currentPath === '/admin/data_riwayat' || currentPath === '/admin/riwayat') ? 'menu-open' : ''%>">
          <a href="#" class="nav-link <%= (currentPath === '/admin/data_riwayat' || currentPath === '/admin/riwayat' || currentPath === '/admin/riwayat/edit/:id_riwayat') ? 'active' : '' %>">
            <i class="nav-icon fas fa-clipboard"></i>
            <p>
              Riwayat
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/data_riwayat" class="nav-link <%= currentPath === '/admin/data_riwayat' ? 'active' : '' %>">
                <i class="far fa-circle nav-icon"></i>
                <p>Data Riwayat</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/riwayat" class="nav-link <%= currentPath === '/admin/riwayat' ? 'active' : '' %>">
                <i class="far fa-circle nav-icon"></i>
                <p>Insert Riwayat</p>
              </a>
            </li>
          </ul>
        </li>
      <!-- Guru Section -->
      <li class="nav-item <%= currentPath === '/admin/data_guru' ? 'menu-open' : ''%><%= currentPath === '/admin/guru' ? 'menu-open' : ''%>">
        <a href="#" class="nav-link <%= (currentPath === '/admin/guru' || currentPath === '/admin/data_guru' || currentPath === '/admin/guru/edit/:id_guru') ? 'active' : '' %>">
          <i class="nav-icon fas fa-user"></i>
          <p>
            Guru
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="/admin/data_guru" class="nav-link <%= currentPath === '/admin/data_guru' ? 'active' : '' %>">
              <i class="far fa-circle nav-icon"></i>
              <p>Data Guru</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/guru" class="nav-link <%= currentPath === '/admin/guru' ? 'active' : '' %>">
              <i class="far fa-circle nav-icon"></i>
              <p>Insert Guru</p>
            </a>
          </li>
        </ul>
      </li>
      <!-- Jadwal Section -->
      <li class="nav-item <%= (currentPath === '/admin/data_jadwal' || currentPath === '/admin/jadwal') ? 'menu-open' : '' %>">
        <a href="#" class="nav-link <%=( currentPath === '/admin/data_jadwal' || currentPath === '/admin/jadwal' || currentPath === '/admin/jadwal/edit/:idj') ? 'active' : '' %>">
          <i class="nav-icon far fa-calendar-alt"></i>
          <p>
            Jadwal
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="/admin/jadwal/senin" class="nav-link <%= currentPath === '/admin/data_jadwal' ? 'active' : '' %>">
              <i class="far fa-circle nav-icon"></i>
              <p>Data Jadwal</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/jadwal" class="nav-link <%= currentPath === '/admin/jadwal' ? 'active' : '' %>">
              <i class="far fa-circle nav-icon"></i>
              <p>Insert Jadwal</p>
            </a>
          </li>
        </ul>
      </li>
        <!-- Kelas Section -->
        <li class="nav-item <%= (currentPath === '/admin/data_kelas' || currentPath === '/admin/kelas') ? 'menu-open' : '' %>">
          <a href="#" class="nav-link <%= (currentPath === '/admin/data_kelas' || currentPath === '/admin/kelas' || currentPath === '/admin/kelas/edit/:id_kelas') ? 'active' : '' %>">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Kelas
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/data_kelas" class="nav-link <%= currentPath === '/admin/data_kelas' ? 'active' : '' %>">
                <i class="far fa-circle nav-icon"></i>
                <p>Data Kelas</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/kelas" class="nav-link <%= currentPath === '/admin/kelas' ? 'active' : '' %>">
                <i class="far fa-circle nav-icon"></i>
                <p>Insert Kelas</p>
              </a>
            </li>
          </ul>
        </li>

       

        <!-- Hari Section -->
        <li class="nav-item <%= (currentPath === '/admin/tambah_tahun' || currentPath ==='/admin/tahun_ajaran' ) ? 'menu-open' : ''%>">
          <a href="#" class="nav-link <%= (currentPath === '/admin/tahun_ajaran' || currentPath ==='/admin/tahun_ajaranId/:idth' || currentPath === '/admin/tambah_tahun') ? 'active' : ''%>">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Tahun Ajaran
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/tahun_ajaran" class="nav-link <%= currentPath === '/admin/tahun_ajaran' ? 'active' : '' %>">
                <i class="far fa-circle nav-icon"></i>
                <p>Data Tahun</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/tambah_tahun" class="nav-link <%= currentPath === '/admin/tambah_tahun' ? 'active' : '' %>">
                <i class="far fa-circle nav-icon"></i>
                <p>Insert Tahun</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Mapel Section -->
        <li class="nav-item <%= (currentPath === '/admin/data_mapel' || currentPath ==='/admin/mapel' ) ? 'menu-open' : ''%>">
          <a href="#" class="nav-link <%= (currentPath === '/admin/data_mapel' || currentPath ==='/admin/mapel' || currentPath === '/admin/mapel/edit/:idm') ? 'active' : ''%>">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Mapel
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/data_mapel" class="nav-link <%= currentPath === '/admin/data_mapel' ? 'active' : '' %>">
                <i class="far fa-circle nav-icon"></i>
                <p>Data Mapel</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/mapel/create" class="nav-link <%= currentPath === '/admin/mapel' ? 'active' : '' %>">
                <i class="far fa-circle nav-icon"></i>
                <p>Insert Mapel</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/plugins/jquery/jquery.min.js"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
<script>
  $(document).ready(function() {
    profile()
    function profile(){
      $.ajax({
        url : '/admin/admin_user',
        type : 'GET',
        success : function(result){
          var row = result.data
          $("#image-fp").attr('src', `/images/${row.foto}`)
          $("#nama_user").text(row.username)
        }
      })
    }
  })
</script>