<%- include("../../Componen/header") %>
<title>Admin | Edit Siswa</title>
<%- include("../../Componen/sideNavbar") %>

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Edit Siswa</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item active">Edit Siswa</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Edit Data Siswa</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <% if (messages && messages.success) { %>
                <div class="alert alert-success">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <%= messages.success %>
                </div>
              <% } %>
              <% if (messages && messages.error) { %>
                <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <%= messages.error %>
                </div>
              <% } %>

              <form action="/admin/siswa/update/<%= siswa.id_siswa %>" method="post" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group mb-3">
                      <label for="nis">NIS</label>
                      <input type="text" class="form-control" name="nis" placeholder="Masukkan NIS" value="<%= siswa.nis %>" required>
                    </div>

                    <div class="form-group mb-3">
                      <label for="nama_siswa">Nama Siswa</label>
                      <input type="text" class="form-control" name="nama_siswa" placeholder="Masukkan Nama Siswa" value="<%= siswa.nama_siswa %>" required>
                    </div>

                    <div class="form-group mb-3">
                      <label for="id_kelas">Kelas</label>
                      <select class="form-control" name="id_kelas" id="id_kelas" required>
                        <% row.forEach((kelas) => { %>
                          <option value="<%= kelas.id_kelas %>" <%= siswa.id_kelas === kelas.id_kelas ? 'selected' : '' %>><%= kelas.nama_kelas %></option>
                        <% }) %>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="Tahun Ajaran">Tahun Ajaran</label>
                      <select class="form-control" name="idth" required>
                       <option value="" disabled selected>--SELECT TAHUN_AJAR--</option>
                       <% tahun_ajaran.forEach(tahun => { %>
                         <option value="<%= tahun.idth %>" <%= siswa.idth === tahun.idth ? 'selected' : '' %>><%= tahun.nama_ajaran %></option>
                       <% }) %>
                     </select>
                     </div>
                    <div class="form-group mb-3">
                      <label for="jk">Jenis Kelamin</label>
                      <select class="form-control" name="jk" required>
                        <option value="laki-laki" <%= siswa.jk === 'laki-laki' ? 'selected' : '' %>>Laki-laki</option>
                        <option value="perempuan" <%= siswa.jk === 'perempuan' ? 'selected' : '' %>>Perempuan</option>
                      </select>
                    </div>

                    <div class="form-group mb-3">
                      <label for="tlp">No Telepon</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">+62</span>
                        </div>
                        <input type="text" class="form-control" name="tlp" placeholder="Masukkan No Telepon" value="<%= siswa.tlp %>">
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Date masks:</label>
    
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <input type="date" class="form-control"  data-inputmask-inputformat="dd/mm/yyyy"  name="tgl_lahir" >
                      </div>
                      <!-- /.input group -->
                    </div>

                    <div class="form-group mb-3">
                      <label for="nama_wali">Nama Wali</label>
                      <input type="text" class="form-control" name="nama_wali" placeholder="Masukkan Nama Wali" value="<%= siswa.nama_wali %>" required>
                    </div>

                    <div class="form-group mb-3">
                      <label for="alamat">Alamat</label>
                      <input type="text" class="form-control" name="alamat" placeholder="Masukkan Alamat" value="<%= siswa.alamat %>" required>
                    </div>

                    <div class="form-group mb-3">
                      <label for="pekerjaan_wali">Pekerjaan Wali</label>
                      <input type="text" class="form-control" name="pekerjaan_wali" placeholder="Masukkan Pekerjaan Wali" value="<%= siswa.pekerjaan_wali %>" required>
                    </div>
                    <div class="form-group">
                      <label for="foto">Foto Siswa</label>
                      <% if (siswa.foto) { %>
                        <div class="mb-2">
                          <img src="/images/<%= siswa.foto %>" alt="Foto Siswa" width="150" id="foto-old">
                        </div>
                      <% } %>
                      <div class="form-group">
                        <img id="fotoPreview" src="" alt="Preview Foto Siswa" style="display: none; width: 150px; margin-top: 10px;" />
                      </div>
                      <input type="file" name="foto" class="form-control" id="foto">
                      <p class="help-block">Unggah foto siswa jika ingin mengganti.</p>
                    </div>
          
                    <div class="form-group">
                      <label for="password">Password (Kosongkan jika tidak ingin mengubah)</label>
                      <input type="password" class="form-control" name="password" placeholder="Masukkan password baru jika ingin mengubah">
                    </div>
                  </div>
                </div>
                <a href="/admin/data_siswa" class="btn btn-secondary">kembali</a>
                <button type="submit" class="btn btn-primary">Update Data</button>
              </form>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  // let date = new Date("<%= siswa.tgl_lahir %>");
  // let formattedDate = date.toISOString().split('T')[0];
  // document.querySelector('input[name="tgl_lahir"]').value = formattedDate;
</script>
<!--script -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
<script>
  // Fungsi untuk menampilkan preview foto baru
  let tgl_lahir = "<%= siswa.tgl_lahir %>";
  let tgl = new Date(tgl_lahir)
  let format = tgl.toLocaleDateString('en-CA')
  $("[name = 'tgl_lahir']").val(format)
  function previewFoto(event) {
    const fotoInput = event.target;
    const fotoPreview = $("#fotoPreview");
    const fotoOld = $("#foto-old");

    if (fotoInput.files && fotoInput.files[0]) {
      const reader = new FileReader();

      reader.onload = function(e) {
        fotoPreview.attr('src', e.target.result); // Ganti src dengan foto baru
        fotoPreview.show(); // Tampilkan preview foto baru
      };

      reader.readAsDataURL(fotoInput.files[0]); // Baca file foto baru
      fotoOld.hide(); // Sembunyikan foto lama
    } else {
      fotoPreview.hide(); // Jika tidak ada file baru, sembunyikan preview
    }
  }

  // Event listener untuk input foto
  document.getElementById("foto").addEventListener("change", previewFoto);
</script>

<%- include("../../Componen/footer") %>
