<%- include("../../Componen/header") %>
<title>Admin | Create Guru</title>
<%- include("../../Componen/sideNavbar") %>


<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Insert Guru</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item active">Insert guru</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div><!-- /.container-fluid -->


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">DataTable with minimal features & hover style</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <% if (messages.success) { %>
                <div class="alert alert-success">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <%= messages.success %>
                </div>
            <% } %>
            <% if (messages.error) { %>
              <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <%= messages.error %>
                </div>
            <% } %>
           
              <form action="/admin/insert_guru" method="post" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-md-6">
                    <label for="Nip">Nip</label>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" name="nip" placeholder="Masukkan nip" required>
                </div>
                    <label for="Nama_guru">Nama Guru</label>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" name="nama_guru" placeholder="Masukkan nama guru" required>
                </div>
                    <label for="Jabatan">Jabatan</label>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" name="jabatan" placeholder="Masukkan jabatan" required>
                </div>
                <label for="tlp">No Telepon</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">+64</span>
                  </div>
                  <input type="text" class="form-control" name="tlp" placeholder="No tlp">
                </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group mb-3">
                      <label for="kelas">Mapel</label>
                      <select class="form-control" name="idm" id="">
                        <% mapel.forEach(row => { %>
                       <option value="<%= row.idm %>"><%= row.nama_mp %></option>
                       <% }) %>
                      </select>
                     </div>
                    <label for="alamat">alamat</label>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" name="alamat" placeholder="Masukkan alamat" required>
                </div>
                <label for="Kelas">Jenis Kelamin</label>
                <div class="form-group mb-3">
                    <select class="form-control" name="jk">
                      <option value="laki-laki">laki-laki</option>
                      <option value="perempuan">Perempuan</option>
                      </select>
                </div>
                <div class="form-group">
                  <label for="foto">Foto Guru</label>
                  <input type="file" name="foto" class="form-control" id="foto" accept="image/*" onchange="previewFoto(event)">
                </div>
      
                <!-- Tempat untuk menampilkan preview foto yang dipilih -->
                <div class="form-group">
                  <img id="fotoPreview" src="" alt="Preview Foto Siswa" style="display: none; width: 150px; margin-top: 10px;" />
                </div>
                <label for="password">Password</label>
                <div class="form-group mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Masukkan password" required>
                </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Tambahkan Data</button>
              </form>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
  
</div>
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
<script>
  function previewFoto(event){
    const fotoInput = event.target
    const fotoPreview = $("#fotoPreview")

    if(fotoInput.files && fotoInput.files[0]){
      const reader = new FileReader();
      reader.onload = function(e){
        fotoPreview.attr('src', e.target.result);
        fotoPreview.show()
      }
      reader.readAsDataURL(fotoInput.files[0])
    }else{
      fotoPreview.hide()
    }
  }
</script>
<%- include("../../Componen/footer") %>
