<%- include("../../Componen/header") %>
<title>Admin | Data Guru</title>
<style>
  .main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
</style>
<%- include("../../Componen/sideNavbar") %>

<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Data Guru</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">DataTables</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">DataTable with minimal features & hover style</h3>
          </div>
          <!-- /.card-header -->
          
          <div class="card-body">
            <div class="d-flex flex-column flex-md-row justify-content-between mb-2">
              <div class="btn-group w-100 flex-md-row mb-2 mb-md-0">
                <span class="btn btn-success col-12 col-md-3 fileinput-button mb-2 mb-md-0"><a href="/admin/guru" style="color: inherit;">
                  <i class="fas fa-plus"></i>
                  <span>Tambahkan data</span>
                </a>
                </span>
                <button id="exportButton" type="button" class="btn btn-primary col-12 col-md-3 mb-2 mb-md-0 start"><a href="/admin/export/guru" style="color: inherit;">
                  <i class="fas fa-upload"></i>
                  <span>Export Data</span>
                </a>
              </button>
              
                <button type="reset" class="btn btn-warning col-12 col-md-3 mb-2 mb-md-0 cancel">
                  <i class="fas fa-times-circle"></i>
                  <span>Cancel upload</span>
                </button>
              </div>
            
              <div class="d-flex justify-content-end">
                <input type="text" class="form-control" name="table_search" style="width: 160px;">
                <button type="submit" class="btn btn-secondary ml-2">Search</button>
                <a href="#" class="btn btn-warning ml-2" id="filter-btn">Filter</a>
              </div>
            </div>
          <% if (messages.error) { %>
              <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <%= messages.error %>
              </div>
          <% } %>
            <div class="table-responsive">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr class="bg-dark">
                    <th style="width: 1%;">No</th>
                    <th>Nip</th>
                    <th>Nama Guru</th>
                    <th>Mapel Ajar</th>
                    <th>Gender</th>
                    <th>Jabatan</th>
                    <th>Alamat</th>
                    <th>Action</th>

                  </tr>
                </thead>
                <tbody>
                  <p id="no-results" style="display: none; text-align: center; padding: 10px; font-size: 30px; font-weight: bold;">Data tidak ada</p>
                  <% row.forEach((guru, index) => { %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <td><%= guru.nip %></td>
                    <td><%= guru.nama_guru %></td>
                    <td><%= guru.nama_mp %></td>
                    <td><%= guru.jk %></td>
                    <td><%= guru.jabatan %></td>
                    <td><%= guru.alamat %></td>
                    <td>
                      <a href="/admin/guru/edit/<%= guru.id_guru %>" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                      <a href="#" class="btn btn-primary info-btn" data-nip="<%= guru.nip %>"><i class="fa fa-info-circle"></i></a>
                      <form action="/admin/guru/delete/<%= guru.id_guru%>?_method=DELETE" method="post" style="display:inline;" class="delete-form">
                        <button type="button" class="btn btn-danger" onclick="confirmDelete(this)"><i class='fas fa-trash-alt'></i></button>
                      </form>     
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
                
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
 <!-- Modal -->
 <div class="modal fade" id="modal-info">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Informasi Guru</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="main-body">
                  <div class="row gutters-sm">
                      <div class="col-md-4 mb-3">
                          <div class="card">
                              <div class="card-body">
                                  <div class="d-flex flex-column align-items-center text-center">
                                      <img src="" id="foto" alt="Admin" class="rounded-circle"  style="width: 150px; height: 170px; object-fit: cover;">
                                      <div class="mt-3">
                                          <h4 id="nama"></h4>
                                          <p class="text-secondary mb-1" id="kelas"></p>
                                          <p class="text-muted font-size-sm" id="alamat"></p>
                                          <button class="btn btn-primary">Follow</button>
                                          <button class="btn btn-outline-primary">Message</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <div class="card mb-3">
                              <div class="card-body">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="row">
                                              <div class="col-md-4">
                                                  <h6 class="mb-0">Nip</h6>
                                              </div>
                                              <div class="col-md-8 text-secondary" id="modal-nip">
                                                
                                              </div>
                                          </div>
                                          <hr>
                                          <div class="row">
                                              <div class="col-md-4">
                                                  <h6 class="mb-0">Nama</h6>
                                              </div>
                                              <div class="col-md-8 text-secondary" id="modal-nama">
                                                  
                                              </div>
                                          </div>
                                          <hr>
                                          <div class="row">
                                              <div class="col-md-4">
                                                  <h6 class="mb-0">Mapel ajar</h6>
                                              </div>
                                              <div class="col-md-8 text-secondary" id="modal-mapel">
                                                  
                                              </div>
                                          </div>
                                          <hr>
                                          <div class="row">
                                              <div class="col-md-4">
                                                  <h6 class="mb-0">Jabatan</h6>
                                              </div>
                                              <div class="col-md-8 text-secondary" id="modal-jabatan">
                                                  
                                              </div>
                                          </div>
                                          <hr>
                                          
                                      </div>
                                      <div class="col-md-6">
                                          <div class="row">
                                              <div class="col-md-4">
                                                  <h6 class="mb-0">Tlp</h6>
                                              </div>
                                              <div class="col-md-8 text-secondary" id="modal-tlp">
                                                  
                                              </div>
                                          </div>
                                          <hr>
                                          <div class="row">
                                              <div class="col-md-4">
                                                  <h6 class="mb-0">Address</h6>
                                              </div>
                                              <div class="col-md-8 text-secondary" id="modal-alamat">
                                                 
                                              </div>
                                          </div>
                                          <hr>
                                          <div class="row">
                                              <div class="col-md-4">
                                                  <h6 class="mb-0">Gender</h6>
                                              </div>
                                              <div class="col-md-8 text-secondary" id="modal-jk">
                                                 
                                              </div>
                                          </div>
                                          <hr>
                                      
                                          <div class="row">
                                              <div class="col-md-12 text-right">
                                                  <a class="btn btn-info" target="__blank" href="#">Edit</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <hr>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- /.modal-body -->
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
      <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

</div>
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
<script>
  $(document).ready(function(){
    $(".info-btn").click(function(){
      var nip = $(this).data("nip")
      $.ajax({
        url : `/admin/info_guru/${nip}`,
        method : "GET",
        success : function(response){
          if(response.guru){
            var data = response.guru
            $("#modal-nip").text(data.nip)
            $("#modal-nama").text(data.nama_guru)
            $("#modal-alamat").text(data.alamat)
            $("#modal-jabatan").text(data.jabatan)
            $("#modal-mapel").text(data.nama_mp)
            $("#modal-jk").text(data.jk)
            $('#modal-tlp').text("(+62) " + data.tlp);
            if(data.foto){
              $('#foto').attr('src', `/fp_guru/${data.foto}`)
            } else {
              $('#foto').attr('src', data.jk === 'laki-laki' ? '/pria.jfif' : '/wanita.jfif');
            }
            $("#modal-info").modal("show")
          }
        }
      })
    })
  })
</script>
<%- include("../../Componen/footer") %>
