<%- include("../../Componen/header") %>
<title>Admin | Create Kelas</title>
<%- include("../../Componen/sideNavbar") %>
<div class="content-wrapper d-flex justify-content-center align-items-start" style="min-height: 100vh; padding-top: 50px;">
    <!-- Display flash messages -->
   
    <!-- Card for adding class -->
    <div class="card w-50 shadow">
        <div class="card-header">
            <h2 class="card-title">Edit Ajaran</h2>
        </div>
        <div class="card-body">
            <% if (messages.error) { %>
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      <%= messages.error %>
                  </div>
            <% } %>
            <form action="/admin/update_ajaran/<%= tahun.idth %>" method="post">
                <label for="Tahun">Tahun Ajar</label>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" name="nama_ajaran" placeholder="Masukkan Tahun Ajar" value="<%= tahun.nama_ajaran%>" required>
                </div>
                <a href="/admin/tahun_ajaran" class="btn btn-secondary">Kembali</a>
                <button type="submit" class="btn btn-primary">Edit Data</button>
            </form>
        </div>
    </div>
</div>
<%- include("../../Componen/footer") %>
