<%- include("../../Componen/header") %>
<title>Admin | Data TahunAjar</title>
<%- include("../../Componen/sideNavbar") %>

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Data Tahun</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item active">Data Tahun</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title btn btn-danger">Jumlah data : <%= Count.count %></h3>
          </div>
          <!-- /.card-header -->

          <div class="card-body">
            <div class="d-flex flex-column flex-md-row justify-content-between mb-2">
              <a href="/admin/tambah_tahun" class="btn btn-success mb-2 mb-md-0" style="height: 35px;">Tambahkan Data +</a>
              <div class="d-flex justify-content-end">
                <input type="text" name="table_search" class="form-control" style="width: 160px;">
                <button type="submit" class="btn btn-secondary ml-2" style="height: 35px;">Search</button>
              </div>
            </div>
            <% if (messages.error) { %>
              <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= messages.error %>
              </div>
            <% } %>
            <div class="table-responsive">
              <table id="example1" class="table table-bordered table-hover">
                <thead>
                  <tr class="bg-dark">
                    <th style="width: 1%;">No</th>
                    <th>Tahun Ajar</th>
                    <th>Status</th>
                    <th style="width: 120px;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <p id="no-results" style="display: none; text-align: center; padding: 10px; font-size: 30px; font-weight: bold;">Data tidak ada</p>
                  <% row.forEach((tahun, index) => { %>
                    <tr>
                    <td><%= index + 1 %></td>
                    <td><%= tahun.nama_ajaran %></td>
                    <td><label class="btn <%= tahun.status === 1 ? 'btn-success' : 'btn-danger' %>"><%= tahun.status === 1 ? 'Aktif' : 'Selesai' %></label></td>
                    <td>
                      <a href="/admin/tahun_ajaranId/<%= tahun.idth %>" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                      <form action="/admin/delete_ajaran/<%= tahun.idth %>?_method=DELETE" method="post" style="display:inline;" class="delete-form">
                        <button type="button" class="btn btn-danger" onclick="confirmDelete(this)"><i class='fas fa-trash-alt'></i></button>
                      </form>                    
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
                
              </table>
              <p id="no-data" style="display: none;">Data tidak ditemukan</p>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>

</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function confirmDelete(button) {
        Swal.fire({
            title: 'Apakah Anda yakin?',
            text: "Anda tidak akan dapat mengembalikan data ini!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Ya, hapus!',
            cancelButtonText: 'Batal'
        }).then((result) => {
            if (result.isConfirmed) {
                // Submit the form if confirmed
                button.closest('form').submit();
            }
        });
    }
</script>
<%- include("../../Componen/footer") %>
