<%- include("../Componen/header") %>
<title>Davice | Ralan</title>
<%- include("../Componen/sideNavbar") %>
<div class="content-wrapper">
    
<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Quick Example</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
       <% if (messages.error) { %>
            <div class="alert alert-danger">
                <%= messages.error %>
            </div>
        <% } %>
        <% if (messages.success) { %>
            <div class="alert alert-success">
                <%= messages.success %>
            </div>
        <% } %>
    <form action="/admin/create_siswa" method="POST">
      <div class="card-body">
        <div class="form-group">
          <label for="nis">NIS</label>
          <input type="text" class="form-control" name="nis" id="nis" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="nama_siswa">NAMA</label>
            <input type="text" class="form-control" name="nama_siswa" id="nama_siswa" placeholder="Enter email">
          </div>
        <div class="form-group">
            <label for="kelas">KELAS</label>
            <input type="text" class="form-control" name="kelas" id="kelas" placeholder="Enter email">
          </div>
        <div class="form-group">
            <label for="nama_wali">NAMA WALI</label>
            <input type="text" class="form-control" name="nama_wali" id="nama_wali" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" id="gender" name="gender" required>
                <option value="Laki-laki">Laki-laki</option>
                <option value="Perempuan">Perempuan</option>
            </select>
        </div>
        <div class="form-group">
          <label for="username">USERNAME</label>
          <input type="text" class="form-control" name="username" id="username" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="password">PASSWORD</label>
          <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="role">Role</label>
          <select class="form-control" id="role" name="role" required>
              <option value="admin">Admin</option>
              <option value="siswa">Siswa</option>
              <option value="guru">Guru</option>
          </select>
      </div>
      <div class="form-group">
        <label for="username">NIS_SISWa</label>
        <input type="text" class="form-control" name="nis_siswa" id="username" placeholder="Enter email">
      </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>        
      </div>
      <!-- /.card-body -->

    </form>
  </div>
  <!-- /.card -->

</div>
<%- include("../Componen/footer") %>