<%- include("../Componen/header") %>
<title>Admin | Dashboard</title>
<%- include("../Componen/sideNavbar") %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3><%= countKelas.count %></h3>

                <p>Kelas</p>
              </div>
              <div class="icon">
                <i class="fas fa-th"></i>
              </div>
              <a href="/admin/data_kelas" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>

            <div class="small-box bg-olive">
              <div class="inner">
                <h3><%= countTahun.count %></h3>

                <p>Tahun ajaran</p>
              </div>
              <div class="icon">
                <i class="fas fa-copy"></i>
              </div>
              <a href="/admin/tahun_ajaran" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
         
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3><%= countGuru.count %></h3>

                <p>Guru</p>
              </div>
              <div class="icon">
                <i class="fas fa-user"></i>
              </div>
              <a href="/admin/data_guru" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>

            <div class="small-box bg-lightblue">
              <div class="inner">
                <h3><%= countJadwal.count %></h3>

                <p>Jadwal</p>
              </div>
              <div class="icon">
                <i class="fas fa-calendar-alt"></i>
              </div>
              <a href="/admin/jadwal/senin" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3><%= countMapel.count %></h3>

                <p>Mata Pelajaran</p>
              </div>
              <div class="icon">
                <i class="fas fa-book"></i>
              </div>
              <a href="/admin/data_mapel" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>

            <div class="small-box bg-indigo">
              <div class="inner">
                <h3><%= countRiwayat.count %></h3>

                <p>Riwayat siswa</p>
              </div>
              <div class="icon">
                <i class="fas fa-clipboard"></i>
              </div>
              <a href="/admin/data_riwayat" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3><%= countSiswa.count %></h3>

                <p>Siswa</p>
              </div>
              <div class="icon">
                <i class="fas fa-user"></i>
              </div>
              <a href="/admin/data_siswa" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
            <div class="small-box bg-maroon">
              <div class="inner">
                <h3><%= countUser.count %></h3>

                <p>User</p>
              </div>
              <div class="icon">
                <i class="fas fa-user"></i>
              </div>
              <a href="/admin/data_user" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
           <!-- ./col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->

      <!-- Row for Grafik -->
      <div class="row">
        <div class="col-12">
          <div class="grafik">
      
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- AJAX Load Grafik -->
<script>
  $(document).ready(function() {
    function loadGrafik() {
      // Memuat halaman grafik ke dalam class 'grafik'
      $(".grafik").load('/admin/grafik', function(response, status, xhr) {
        if (status == "error") {
          // Tampilkan pesan error jika gagal memuat
          $('.grafik').html("<p>Error memuat halaman grafik: " + xhr.status + " " + xhr.statusText + "</p>");
        }
      });
    }

    // Panggil fungsi loadGrafik saat halaman selesai dimuat
    loadGrafik();
  });
</script>

<%- include("../Componen/footer") %>
