<%- include("../../Componen/header") %>
<title>Admin | Edit Jadwal</title>
<%- include("../../Componen/sideNavbar") %>


<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Edit jadwal</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item active">Edit jadwal</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div><!-- /.container-fluid -->


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">DataTable with minimal features & hover style</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <% if (messages.success) { %>
                <div class="alert alert-success">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <%= messages.success %>
                </div>
            <% } %>
            <% if (messages.error) { %>
              <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <%= messages.error %>
                </div>
            <% } %>
           
              <form action="/admin/jadwal/update/<%= jadwal.idj %>" method="post">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="hari"> HARI </label>
                      <select class="form-control" name="idh" id="">
                        <% hari.forEach ((row )=> { %>
                       <option value="<%= row.idh %>"<%= jadwal.idh === row.idh ? 'selected' : ''%>><%= row.hari %></option>
                       <% }) %>
                      </select>
                     </div>
                     
                <div class="form-group">
                 <label for="kelas"> KELAS </label>
                 <select class="form-control" name="idk" id="">
                   <% kelas.forEach ((row )=> { %>
                  <option value="<%= row.id_kelas %>" <%= jadwal.idk === row.id_kelas ? 'selected' : ''%>><%= row.nama_kelas %></option>
                  <% }) %>
                 </select>
                </div>
                  </div>
                  <div class="col-md-6">
                
                    <div class="form-group">
                        <label for="guru"> GURU </label>
                        <select class="form-control" name="idg" id="">
                          <% guru.forEach ((row )=> { %>
                         <option value="<%= row.id_guru %>" <%= jadwal.idg === row.id_guru ? 'selected' : ''%>><%= row.nama_guru %> - <%= row.nama_mp %></option>
                         <% }) %>
                        </select>
                       </div>
                       <div class="form-group">
                        <label>Jam mulai</label>
                        <input type="time" class="form-control"  name="jam_mulai" value="<%= jadwal.jam_mulai %>">
                </div>
                <div class="form-group">
                    <label>Jam selesai</label>
                    <input type="time" class="form-control"  name="jam_selesai" value="<%= jadwal.jam_selesai %>">
            </div>
                  </div>
                </div>
                <a href="/admin/jadwal/senin" class="btn btn-secondary">kembali</a>
                <button type="submit" class="btn btn-primary">Update Data</button>
              </form>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
  
</div>

<%- include("../../Componen/footer") %>
